table {
    border-collapse: collapse;
    font-size: 18px;
    width: 100%;
    margin-top: 20px;
    border: 1px solid #000000;
}

th, td {
    text-align: center;
    border: 1px solid #000000;
}

th {
    padding: 12px 8px;
    background: #c2c8ce;
    border-bottom: 3px solid #435466;
}

tr.editing {
    background-color: #c1b5f4;
}

tr.editing input {
    border: 1px solid #2a0ff8;
    background: white;
}

.text-danger {
    color: #d92e3f;
}

.text-success {
    color: #2ed970;
}

.row-danger {
    background-color: #f9d3d6;
    color: #000000;
}

.text-center {
    text-align: center;
}

.button-toggle-status, .button-edit {
    display: inline-block;
    width: 40px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
}

.button-fire{
    background-image: url('icons/bootkick-icon.png');
}

.button-return-to-work{
    background-image: url('icons/open-door-icon.png');
}

.button-start-edit{
    background-image: url('icons/edit-icon.png');
}

.button-confirm-edit{
    background-image: url('icons/confirm-icon.png');
}

.form-control {
    font-size: 16px;
    margin: 2px 4px;
}